/*Structure BEGIN*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.burger {
    position: absolute;
    width:27%;
    height: 100%;
    margin-right: 3%;
    display: none;
}
.burger_button {
    position: absolute;
    height: 50px;
    width: 50px;
    padding: auto;
}
.burger_button:hover {
    background-color: gray  ;
}
.window {
    position: absolute;
    width: auto;
    height: auto;
    top: 50px;
}
.text {
    position: absolute;
    width: 34%;
    height: 100%;
    right: 43%;
    left: 30%;
}
table,tr,th,td {
    border: 1px solid;  
}
.klausur {
    color: red;
}
.tags {
    position: absolute;
    width: 33%;
    height: 100%;
    margin-left: 3%;
    right: 0;
}
/*Structure END*/