/*Structure BEGIN*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    background-color: #161616;
    color: #ffffff;
}
a {
    color: cornflowerblue;
}
button {
    border-radius: 10px;
}
.burger {
    position: fixed;
    width:27%;
    height: 100%;
    margin-right: 3%;
    border-right: #696969;
    display: none;
}
.burger_button {
    position: fixed;
    height: 50px;
    width: 50px;
    padding: auto;
}
.burger_button:hover {
    background-color: gray  ;
}
.window {
    position: absolute;
    width: auto;
    height: auto;
    top: 30px;
}
.text {
    position: absolute;
    width: 34%;
    height: 100%;
    right: 43%;
    left: 30%;
    padding-left: 15px;
    padding-right: 15px;
    /*
    border-left: 5px solid #696969;
    border-right: 5px solid #696969;
    */
}
table,tr,th,td {
    border: 1px solid;  
}
.klausur {
    color: red;
}
.tags {
    position: absolute;
    padding: 5px;
    
    width: 33%;
    height: 100%;
    margin-left: 3%;
    right: 0;
    font-size: 21px;
}
/*Structure END*/

/*Programming*/
.variable {
    color: cyan;
}
.comment {
    color: green;
}
/*Programming END*/